{% extends "index.html" %}

{% block title %}Blog | The Basement Office{% endblock title %}
{% block meta_description %}Content marketing for developers: what I've learned.{% endblock meta_description %}
  <!-- Page Header -->
  {% block header %}
  <header class="masthead" style="background-image: url('{{ get_url(path="/img/home-bg.jpg")}}')">
    <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Blog</h1>
            <span class="subheading">{{config.description}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  </header>
  {% endblock header %}

{% block content %}
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="posts">
          {% for page in paginator.pages %}
          <div class="post-preview">
            {{ post_macros::page_title(page=page) }}
            <p class="post-summary">{{ page.summary | safe }}</p>
          </div>
          {% endfor %}
        </div>

        <!-- Paginator -->
        <div class="clearfix">
          {% if paginator.previous %}
          <a class="btn btn-primary float-left" href="{{ paginator.previous }}"> &larr; Newer Posts</a>
          {% endif %}
          {% if paginator.next %}
          <a class="btn btn-primary float-right" href="{{ paginator.next }}">Older Posts &rarr;</a>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
  {% endblock content %}