{% extends "index.html" %}
{% block title %}Contact | The Basement Office{% endblock title %}
{% block meta_description %}Contact me for freelance writing, editing, and content marketing for 
developer-focused startups and enterprises.{% endblock meta_description %}

{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: linear-gradient(black, black), url('http://127.0.0.1:1111/img/contact-bg.jpg'); background-blend-mode: saturation; ">
  <div class="overlay" style="background-color: #75dcf899;">
  <div class="overlay">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Contact me</h1>
          <span class="subheading">Email me at <a href="mailto:rebecca@thebasementoffice.co.uk">rebecca@thebasementoffice.co.uk</a> with a brief description of your needs, 
            and I’ll get back to you as soon as possible.</span>
        </div>
      </div>
    </div>
  </div>
</div>
</header>
{% endblock header %}

{% block content %}
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
    </div>
  </div>
</div>
{% endblock content %}