{% import "post_macros.html" as post_macros %}
{%- if page %}
	{%- set resource = page %}
{%- elif section %}
	{%- set resource = section %}
{%- endif %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% block analytics %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WNZ72X57JN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WNZ72X57JN');
</script>
  {% endblock analytics %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="black" />

  <meta name="description" content="{% block meta_description %}Freelance writing, editing, and content marketing for 
  developer-focused startups and enterprises. Let me bring your customers’ and engineers’ stories to life.{% endblock meta_description %}">
  <meta name="author" content="">

  <meta name="image" content="{{ get_url(path="/img/basement-office-home.png")}}">
  <meta itemprop="image" content="{{ get_url(path="/img/basement-office-home.png")}}">

  <meta name="title" property="og:title" content="Content marketing for developers | The Basement Office">
  <meta name="description" property="og:description" content="Freelance writing, editing, and content marketing for developer-focused startups and enterprises. Let me bring your customers’ and engineers’ stories to life.">
  <meta name="og:type" content="website">
  <meta name="image" property="og:image" content="{{ get_url(path="/img/basement-office-home.png")}}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Content marketing for developers | The Basement Office">
  <meta name="twitter:description" content="Freelance writing, editing, and content marketing for developer-focused startups and enterprises. Let me bring your customers’ and engineers’ stories to life.">
  <meta name="twitter:image" content="{{ get_url(path="/img/basement-office-home.png")}}">
  
  <link rel=“canonical” href=“https://www.thebasementoffice.co.uk” />

  <title>{% block title %}{{ config.title }}{% endblock title %}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ get_url(path="css/bootstrap.min.css") }}">
  <!-- Custom fonts for this template -->
  <link href=" {{ get_url(path="css/all.min.css") }}" rel=" stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ get_url(path="clean-blog.css", trailing_slash=false) }}">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top {% if resource.extra.navcolor %} {{resource.extra.navcolor}} {% endif %}" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{{ config.base_url }}">The Basement Office</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link subtitle-text" href="{{ get_url(path="@/pages/services.md") }}">Services</a></li>
              <li class="nav-item"><a class="nav-link subtitle-text" href="{{ get_url(path="@/pages/portfolio.md") }}">Portfolio</a></li>
              <li class="nav-item"><a class="nav-link subtitle-text" href="#contact_me") }}">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  {% block header %}
  <header class="masthead" style="background-image: url('{{ get_url(path="/img/basement-office-home.png")}}'); margin:0">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-10">
          <div class="site-heading">
            <h1>Content marketing for developers<span style="color: #33ffcc">.</span></h1>
            <span class="subheading">{{config.description}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  </header>
  {% endblock header %}

  {% block content %}
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-10 mx-auto page-body homepage-body-copy">
      <p><b>Hi, I’m Rebecca Dodd: writer, editor, and content marketer.</b> Three things you should know about me:</p>
        <ol>
          <li>I've spent the last six years specializing in <a href="{{ get_url(path="@/pages/portfolio.md") }}">content for developers</a>.</li>
          <li>I've worked for nearly 15 years in journalism, editorial, and content marketing.</li>
          <li>I know how hard it is to find writers who know how to write for developers.</li>
        </ol>
        <p style="text-align: center"><b>I want to be that resource for your team.</b></p>
        <p>I’m committed to understanding the developer experience. That's why I <a href="https://gitlab.com/rebecca/the-basement-office" target="_blank">built 
          this website myself</a>. When working with developers, being willing to jump into the code and try 
          to figure out something yourself goes a long way towards building trust and empathy.</p>
        <p>You need someone who can dive into technical topics, who knows enough to be able to ask the right 
          questions to uncover the most compelling story. That’s where you’ll find me.</p>
        <p>So, welcome to my office—it’s designed to be an extension of yours. Whether you’re just starting 
          out or scaling your team, I can <a href="{{ get_url(path="@/pages/services.md") }}">help you reach 
            the developers who matter to you</a>.</p>
            <p>—<i>Rebecca</i></p>
      </div>
    </div>
</div>
  {% endblock content %}
  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-10 mx-auto">
              <h6 class="footer-title">A note on the Basement Office</h6>
              <p class="footer-body">Developers know: <a class="footer-link"; href="https://martinfowler.com/bliki/TwoHardThings.html" target="_blank">naming things is hard</a>. 
                ’90s sci-fi geeks might recognize the reference. A basement office 
                is an overflow space for when your business is growing and you need a little extra 
                capacity—that’s what I’m here for. </p>
        </div>
        <div class="col-lg-4 col-md-10 text-center mx-auto"><span style="font-size: 80px;">🛸✌️</span></div>
        <div class="col-lg-4 col-md-10 mx-auto">
            <h3 class="footer-title"><a id="contact_me">Contact me at</a></h3>  
              <p style="font-size: 20px; margin-top: -12px;">
                <a class="footer-link" style="font-size: 22px;" href="mailto:rebecca@thebasementoffice.co.uk">rebecca@thebasementoffice.co.uk</a> with a brief description of your needs, 
                and I’ll get back to you as soon as possible.
              </p> 
            <ul class="list-inline text-center">
              {% for item in config.extra.clean_blog_social %}
              <li class="list-inline-item">
                <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="{{ item.icon }} fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              {% endfor %}
            </ul>
            <p class="copyright text-muted">{% block copyright %}&copy; The Basement Office Ltd
              2022{% endblock copyright %}</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ get_url(path="js/jquery.min.js") }}"></script>
  <script src="{{ get_url(path="js/bootstrap.bundle.min.js") }}"></script>

  <!--Custom scripts for this template-->
  <script src="{{ get_url(path="js/clean-blog.min.js") }}"></script>

  <!--- Additional scripts -->
  {% block extrascripts %}
  {% endblock extrasripts %}
</body>

</html>
