{% import "post_macros.html" as post_macros %}
{%- if page %}
	{%- set resource = page %}
{%- elif section %}
	{%- set resource = section %}
{%- endif %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% block analytics %}
  {% endblock analytics %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="{% block meta_description %}Freelance writing, editing, and content marketing for 
  developer-focused startups and enterprises. Let me bring your customers’ and engineers’ stories to life.{% endblock meta_description %}">
  <meta name="author" content="">

  <title>{% block title %}{{ config.title }}{% endblock title %}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ get_url(path="css/bootstrap.min.css") }}">
  <!-- Custom fonts for this template -->
  <link href=" {{ get_url(path="css/all.min.css") }}" rel=" stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ get_url(path="clean-blog.css", trailing_slash=false) }}">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{{ config.base_url }}">The Basement Office</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link subtitle-text" href="{{ get_url(path="@/pages/services.md") }}">Services</a></li>
              <li class="nav-item"><a class="nav-link subtitle-text" href="{{ get_url(path="@/pages/portfolio.md") }}">Portfolio</a></li>
              <!--<li class="nav-item"><a class="nav-link subtitle-text" href="{{ get_url(path="@/blog/_index.md") }}">Blog</a></li>-->
              <li class="nav-item"><a class="nav-link subtitle-text" href="{{ get_url(path="#contact_me") }}">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  {% block header %}
  <header class="masthead" style="background-image: url('http://127.0.0.1:1111/img/basement-office-home.png')">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-10">
          <div class="site-heading">
            <h1>Content marketing for developers<span style="color: #33ffcc">.</span></h1>
            <span class="subheading">{{config.description}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  </header>
  {% endblock header %}

  {% block content %}
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
      <p>Hi, I’m Rebecca: writer, editor, and content marketer. Welcome to my office – it’s designed to be an extension of yours. 
        Whether you’re just starting out or scaling your team, I can jump in to support your content marketing activities wherever you’re at. 
        I’ve spent over 13 years in journalism, editorial and content marketing, the last five of which I’ve specialized in marketing to developers. 
        I decided to go freelance because as a managing editor I needed contractors who could speak both languages: strong content professionals 
        with a gift for storytelling; who could also dive into and shape subject matter they weren’t always familiar with. 
        You need someone who knows enough to be able to ask the right questions to uncover the most compelling story. 
        Let me be that resource for your team! 
        <br>
        <br>I’m committed to understanding the developer experience, so much so that I built this website myself. I’ve learned that when working with developers, 
        being willing to jump into the code and try to figure out something yourself (even as a rookie!) goes a long way towards building trust and empathy. 
        I would love to team up with your internal experts to tell your story.  
      </p>
        </div>

        <!-- Paginator
        <div class="clearfix">
          {% if paginator.previous %}
          <a class="btn btn-primary float-left" href="{{ paginator.previous }}"> &larr; Newer Posts</a>
          {% endif %}
          {% if paginator.next %}
          <a class="btn btn-primary float-right" href="{{ paginator.next }}">Older Posts &rarr;</a>
          {% endif %} -->
        </div>

      </div>
    </div>
  </div>
  {% endblock content %}

  <!-- Footer -->
  <footer style="background-color: black">
    <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-10">
            <div>
              <h6 class="footer-title">A note on the Basement Office</h6>
            </div>
            <div>
              <p class="footer-body">Developers know: <a class="footer-link"; href="https://martinfowler.com/bliki/TwoHardThings.html">naming things is hard</a>. 
                If you were into ’90s sci-fi you might recognise the reference. I also like the idea of a basement office 
                being an overflow space: the place you use when your business is growing and you need a little extra capacity – 
                that’s what I’m here for. 
                <br>
                <br>The ’90s reference also inspired the design of this website. I wanted it to have a nostalgic, retro computing vibe with a 
                playful nod to early operating system design. I hope you enjoy looking around.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-10 text-center"><span style="font-size: 80px;">🛸✌️</span></div>
          <div class="col-lg-4 col-md-10">
            <div class="footer-title">
              <h3 class="footer-title"><a id="contact_me">Contact me at</a></h3>  
              <p style="font-size: 20px;"><a class="footer-link"; style="font-size: 30px" href="mailto:rebecca@thebasementoffice.co.uk">rebecca@thebasementoffice.co.uk</a> with a brief description of your needs, 
                and I’ll get back to you as soon as possible.</p> 
            </div>
            <ul class="list-inline text-center">
              {% for item in config.extra.clean_blog_social %}
              <li class="list-inline-item">
                <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="{{ item.icon }} fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              {% endfor %}
            </ul>
            <p class="copyright text-muted">{% block copyright %}Copyright &copy; The Basement Office Ltd
              2022{% endblock copyright %}</p>
          </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ get_url(path="js/jquery.min.js") }}"></script>
  <script src="{{ get_url(path="js/bootstrap.bundle.min.js") }}"></script>

  <!--Custom scripts for this template-->
  <script src="{{ get_url(path="js/clean-blog.min.js") }}"></script>

  <!--- Additional scripts -->
  {% block extrascripts %}
  {% endblock extrasripts %}
</body>

</html>
