{% extends "index.html" %}
{% block title %}Portfolio | The Basement Office{% endblock title %}
{% block meta_description %}Content created for B2B and enterprise tech companies – these are my greatest hits.{% endblock meta_description %}
{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ get_url(path="/img/portfolio.png")}}'); margin:0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-10">
        <div class="portfolio-page-heading">
          <h1>Portfolio<span style="color: #ccffcc">.</span></h1>
          <h2>Check out a few samples of my work.</h2>
        </div>
      </div>
    </div>
  </div>
</div>
</header>
{% endblock header %}

{% block content %}
<!-- Main Content -->
<div id="portfolio-container" class="container page-body mx-auto">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto" style="margin-bottom: 30px">
      {{ page.content | safe }}
    </div>
  </div>
<!-- portfolio section-->
    <div class="row gx-4">
        <div class="col-lg-6 mt-4">
            <div class="card">
                <div class="card-heading">
                    <div class="chrome"><span class="dot"></span><span class="dot"></span></div>
                    <h5 class="card-title">I hire people to work on a FOSS project. Here's how I evaluate GitHub profiles</h5>
                </div>
            <div class="card-body">
                <p class="card-text mt-1">“Should hiring managers base a decision on someone’s GitHub profile? No. 
                    But will it ever hurt to have a robust GitHub account? Also no.” I co-wrote this piece with the CTO of Ondsel, 
                    an open core company that builds on FreeCAD, an open source 3D modeller. 
                    </p>
                <div class="float-end">
                    <a href="https://ondsel.com/blog/evaluating-github-profile/" target="_blank" class="btn btn-primary">Read</a>
                </div>
            </div>
        </div>
    </div>

        <div class="col-lg-5 mt-4">
            <div class="card">
                <div class="card-heading">
                    <div class="chrome"><span class="dot"></span><span class="dot"></span></div>
                    <h5 class="card-title">Guide to platform engineering: Everyone’s doing it, should you be too?</h5>
                </div>
                <div class="card-body">
                    <p class="card-text mt-1">Part of a series of SEO-focused long-form guides I wrote for LaunchDarkly, 
                    an enterprise feature management platform. The piece aims to be a comprehensive guide to platform engineering 
                    and surrounding topics, as the concept enters the Gartner Hype Cycle.
                    </p>
                    <div class="float-end">
                        <a href="https://launchdarkly.com/blog/what-is-platform-engineering/" target="_blank" class="btn btn-primary">Read</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row gx-4">
        <div class="col-lg-5 mt-4">
            <div class="card">
                <div class="card-heading">
                    <div class="chrome"><span class="dot"></span><span class="dot"></span></div>
                    <h5 class="card-title">What does it mean that my GitHub project has 900 open issues?</h5>
                </div>
                <div class="card-body">
                    <p class="card-text mt-1">This piece is an example of thought leadership in the open source space, reflecting on the reasons that project issues go stale and how that 
                    impacts project velocity.
                    </p>
                    <div class="float-end">
                        <a href="https://ondsel.com/blog/better-github-issues" target="_blank" class="btn btn-primary">Read</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mt-0">
            <div class="card">
                <div class="card-heading">
                    <div class="chrome"><span class="dot"></span><span class="dot"></span></div>
                    <h5 class="card-title">What is DevOps? (And how to set your organization up for DevOps success)</h5>
                </div>
                <div class="card-body">
                    <p class="card-text mt-1">With a target word count of over 4,000 words and an extensive list of keywords to include, the challenge here was to create something that 
                    covered all the bases for SEO, but also brought an angle that differentiated the piece from the many other DevOps articles. 
                    I brought in opinions and quotations from social media and podcasts to add color.
                    </p>
                    <div class="float-end">
                        <a href="https://launchdarkly.com/blog/what-is-devops-and-how-to-set-your-organization-up-for-success/" target="_blank" class="btn btn-primary">Read</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row gx-4">
        <div class="col-lg-6 mt-4">
            <div class="card">
                <div class="card-heading">
                    <div class="chrome"><span class="dot"></span><span class="dot"></span></div>
                    <h5 class="card-title">The weakest link in software supply chain security isn't open source</h5>
                </div>
                <div class="card-body">
                    <p class="card-text mt-1">I co-wrote this piece with one of Sourcegraph's security engineers, who supplied the points 
                        about how Sourcegraph is valuable to security engineers. I created the framing around the weaknesses at 
                        each stage of vulnerability management processes. Then I integrated Sourcegraph’s value propositions into the 
                        suggestions for addressing the problem.
                        </p>
                        <div class="float-end">
                            <a href="https://about.sourcegraph.com/blog/real-weakest-link-in-software-supply-chain-security" target="_blank" class="btn btn-primary">Read</a>
                        </div>
                    </div>
                </div>
            </div>

        <div class="col-lg-5 mt-10">
            <div class="card">
                <div class="card-heading">
                    <div class="chrome"><span class="dot"></span><span class="dot"></span></div>
                    <h5 class="card-title">3 Debugging tips we learned from you</h5>
                </div>
                <div class="card-body">
                    <p class="card-text mt-1">A crowd-sourced post inspired by a GitLab team member’s personal blog post. Instead of cross-posting it to the 
                        company blog, I proposed we use it as an opportunity to engage the community for their anecdotes. 
                        </p>
                        <div class="float-end">
                            <a href="https://about.gitlab.com/blog/2021/03/31/3-debugging-tips-we-learned-from-you/" target="_blank" class="btn btn-primary">Read</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="row gx-4">
        <div class="col-lg-6 mt-4">
            <div class="card">
                <div class="card-heading">
                    <div class="chrome"><span class="dot"></span><span class="dot"></span></div>
                    <h5 class="card-title">Kubernetes, containers, and cloud native: the basics</h5>
                </div>
                <div class="card-body">
                    <p class="card-text mt-1">I wrote this piece as part of GitLab’s activation around KubeCon, drawing from materials from a 
                        webinar I produced on the same topic.
                        </p>
                    <div class="float-end">
                        <a href="https://about.gitlab.com/blog/2017/11/30/containers-kubernetes-basics/" target="_blank" class="btn btn-primary">Read</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mt-4">
            <div class="card">
                <div class="card-heading">
                    <div class="chrome"><span class="dot"></span><span class="dot"></span></div>
                    <h5 class="card-title">Meet the traffic manager making Git data highly available</h5>
                </div>
                <div class="card-body">
                    <p class="card-text mt-1">This engineering manager was more comfortable with 
                        being interviewed than writing, so we paired on the post. He talked me through the project and I prompted 
                        him to dig deeper into some areas and share some takeaways and lessons. I took the transcript from the interview and 
                        reworked it into a draft with the introduction, structure, and subheadings. I also added some additional context about the 
                        problem we were solving. 
                        </p>
                    <div class="float-end">
                            <a href="https://about.gitlab.com/blog/2021/01/21/high-availability-git-storage-with-praefect/" target="_blank" class="btn btn-primary">Read</a>
                    </div>
                </div>
            </div>
        </div>
    </div>  
        
    <div class="row gx-4">
        <div class="col-lg-6 mt-4">
            <div class="card">
                <div class="card-heading">
                    <div class="chrome"><span class="dot"></span><span class="dot"></span></div>
                    <h5 class="card-title">“I want my whole computing environment to be programmable”</h5>
                </div>
                <div class="card-body">
                    <p class="card-text mt-1">Dev Tool Time is Sourcegraph’s web series showcasing engineers’ desk and computer setups. 
                        This post is an example of leveraging existing content in a different format. 
                        I added a bit of color and editorializing to make the post more engaging than a transcript alone.
                        </p>
                        <div class="float-end">
                            <a href="https://about.sourcegraph.com/blog/dev-tool-time-thorsten-ball" target="_blank" class="btn btn-primary">Read</a>
                        </div>
                    </div>
                </div>
            </div>

        <div class="col-lg-5 mt-4">
            <div class="card">
                <div class="card-heading">
                    <div class="chrome"><span class="dot"></span><span class="dot"></span></div>
                    <h5 class="card-title">4 tips for remote pair programming</h5>
                </div>
                <div class="card-body">
                    <p class="card-text mt-1">An interview-based post created through a combination of synchronous and asynchronous interviews. 
                        I had calls with a number of support engineers, while others added their contributions to a Google Doc with discussion prompts.
                        </p>
                    <div class="float-end">
                        <a href="https://about.gitlab.com/blog/2021/02/04/remote-pair-programming-tips/" target="_blank" class="btn btn-primary">Read</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
       
    <div class="row gx-4">
        <div class="col-lg-8 mt-0">
            <div class="card">
                <div class="card-heading">
                    <div class="chrome"><span class="dot"></span><span class="dot"></span></div>
                    <h5 class="card-title mt-1">GitLab and Gravitational discuss Kubernetes</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">This is a fly-on-the-wall-style post, with a conversation between two subject matter experts being the basis 
                    for the story. I like this approach for technical topics where you might spark some debate between engineers with 
                    opposing viewpoints. In this case, the enthusiast is trying to win over the sceptic.
                </p>
                <div class="float-end">
                    <a href="https://about.gitlab.com/blog/2016/12/12/gitlab-joins-forces-with-gravitational/" target="_blank" class="btn btn-primary">Read</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript"> 

var elements = document.querySelectorAll(".card");

function checkOverlap(x) {
  if (x.matches) { // If media query matches
    enableCardOverlap();
  } else {
    disableCardOverlap();
  }
}

var windowSize = window.matchMedia("(min-width: 1200px)"); // where the window breaks

checkOverlap(windowSize);

windowSize.addListener(checkOverlap);

function enableCardOverlap(){
Array.prototype.forEach.call(elements, function(el, i){
    el.classList.add("overlap-"+i);
    el.addEventListener('click', cardClick);
});
}

function disableCardOverlap(){
Array.prototype.forEach.call(elements, function (el, i){
    el.classList.remove("overlap-"+i);
    el.removeEventListener('click', cardClick);    
});
}

//mvc implementation of bringing clicked card to front - to revisit with stacking
var highest_zIndex = 100;
function cardClick(){
    this.style.zIndex = highest_zIndex;
    highest_zIndex = highest_zIndex+1;
};  

</script>
{% endblock content %}
