{% extends "index.html" %}
{% block title %}Freelance writing and editing services | The Basement Office{% endblock title %}
{% block meta_description %}An overview of the writing, editing, and content strategy services I can provide.{% endblock meta_description %}
{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ get_url(path="/img/services.png")}}'); margin:0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="services-page-heading">
          <h1>Freelance writing, editing & content marketing<span style="color: #ffccff">.</span></h1>
        </div>
      </div>
    </div>
  </div>
</div>
</header>
{% endblock header %}

{% block content %}
<!-- Main Content -->
<div id="services-container" class="container page-body mx-auto">
<!-- services section-->
      <div class="row">
          <div class="col-lg-7 mt-0 mx-auto">
              <div class="card servicesText">
                <div class="card-heading">
                  <div class="chrome"><span class="dot"></span><span class="dot"></span></div>        
                  <h4 class="card-title">Writing</h4></div>
                  <div class="card-body">
                      <p class="card-text mt-1"><b>Starting from scratch?</b> I can cover topics based on the 
                        themes, content pillars, or product areas that you need to support.</p> 
                      <p><b>Got something in the works?</b> I can take your outline/brain dump/roughest draft 
                        to get it over the finish line. I can partner with your subject matter experts to bring 
                        their stories to life.</p>
                      <p>Services include:</p>
                          <div class="row">
                            <div class="col-lg-5 mx-auto">
                              <ul><li>Blog posts</li>
                              <li>Web articles</li>
                              <li>Case studies</li></ul>
                            </div>
                            <div class="col-lg-5 mx-auto">
                              <ul><li>White papers</li>
                              <li>Ghostwriting</li>
                              <li>eBooks</li></ul></ul>
                            </div>
                            </div>
                  </div>
              </div>  
          </div>
      </div>
      <div class="row">
          <div class="col-lg-7 mt-4 mx-auto">
              <div class="card servicesText">
                <div class="card-heading">
                  <div class="chrome"><span class="dot"></span><span class="dot"></span></div>                    
                  <h4 class="card-title">Editing</h4></div>   
                  <div class="card-body">
                      <p class="card-text mt-1">I’m happy to zero in on copy edits or zoom out on the structure and narrative of your draft. 
                          I’m not scared of jargon.</p>
                          <p>Services include:</p>
                          <ul><li>Copy editing</li>
                          <li>Structural editing</li>
                        <li>Tone-of-voice reviews</li>
                        <li>Repurposing your existing content</li>
                      <li>Refreshing your out-of-date content</li>
                    </ul>
                  </div>
              </div>  
          </div>
      </div>
      <div class="row">
          <div class="col-lg-7 mt-4 mx-auto">
              <div class="card servicesText">
                <div class="card-heading">
                  <div class="chrome"><span class="dot"></span><span class="dot"></span></div>
                  <h4 class="card-title">Editorial strategy</h4>
                </div>
                  <div class="card-body">
                      <p class="card-text mt-1">If you don’t have anyone leading content at your company, I can work with you on:</p>
                        <ul><li>Identifying themes and topics that will resonate with your audience</li>
                            <li>Creating processes for generating story ideas and creating content on an ongoing basis</li>
                            <li>Making recommendations for repurposing your new or existing content</li>
                            </ul>
                  </div>
              </div>  
          </div>
      </div>
      <div class="row">
        <div class="col-lg-7 col-md-10 mx-auto mt-5">
          <h3>Rates</h3>
              <p>For most projects, I will propose a flat fee once we’ve discussed your goals and the scope of work. 
                  For writing projects, this includes any necessary research and interviews and two rounds of edits. </p>
                  <p>Occasionally I have capacity for shift work at an hourly rate, for example if you need interim support while you’re building your team.
                  </p>
            <h3>How I work</h3>
                <p>I’ve worked remotely for over five years, mostly in a different time zone to the rest of my teammates! As a result, 
                I work best asynchronously. I will try to make sure I request all the necessary resources and context from you before I get 
                started. This reduces the need for meetings and long email chains!</p>
            <h3>Get started</h3>
              <p>Email me at <a href="mailto:rebecca@thebasementoffice.co.uk">rebecca@thebasementoffice.co.uk</a> with a brief description of 
                your project and needs.</p>
        </div>
      </div>
</div>
{% endblock content %}