// Bootstrap overrides for this template
.btn {
  font-size: 16px;
  font-weight: 700;
  padding: 15px 25px;
  letter-spacing: 1px;
  border-radius: 0;
  @include heading-font;
}

.card{
  .btn-primary{
    text-decoration: none;
  }
  :hover {
    background: #efefef;
  }
}

.btn-primary {
  background-color: $white;
  border-color: $black;
  border-width: 2.5px;
  border-radius: 0px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: $black;
  font-weight: bold;
  &:hover,
  {
    color: black;
    background-color: #ccffcc;
    border-color: black;
  }
  &:focus,
  &:active {
    color: $black;
    background-color: darken(#ccffcc, 7.5) !important;
    border-color: darken(#ccffcc, 7.5) !important;
  }
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

.card {
  border-radius: 0px;
  border: 3px solid black;
  box-shadow: 4px 4px 0 1px #757e85;
  background-color: #FDFBFE;
}

.card-text {
  margin-top: -6px;
  margin-bottom: 9px;
}

.body {
  margin: 60px 0 120px 0;
}

/*body { background: #000000 !important;}*/