// Styling for the footer
footer {
  color: white;
  background-color: black;
  padding: 50px 0 65px;
  .list-inline {
    margin: 0;
    padding: 0;
  }
  .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
  }
  .footer-body {
    font-size: 17px;
  }

  .footer-title {
    color: white
  }
  
  .footer-link {
    color: white;
  }
  .footer-link:hover {
   color: #33ffcc;
  }
  .footer-link:focus {
    color: #33ffcc;
  } 
}
