// Global styling for this template
body {
  font-size: 18px;
  color: $gray-900;
  @include body-font;
}

.homepage-body-copy {
  font-size: 20px;
  line-height: 1.5;
}

.page-body {
  margin: 30px 0 60px 0;
  a {
    text-decoration: underline;
  }
  li{
    margin: 20px 0;
  }
}

p {
  line-height: 1.5;
  margin: 15px 0;
  a {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  @include heading-font;
  color: black;
}

.card-heading {
  border-bottom: 2px solid black;
  padding: 14px 20px;
  background-color: #e9e9e9;
}

a {
  color: $gray-900;
  @include transition-all;
  &:focus,
  &:hover {
    color: $primary;
  }
}

blockquote {
  font-style: italic;
  color: $gray-600;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

::selection {
  color: $white;
  background: black;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

.card-title {
  text-align: center;
  margin-bottom: 0;
  margin-left:60px;
  font-size: 15px;
}

#services-container{
  .card-title{
    font-size:18px;
    margin-left: 40px;
  }
}

#portfolio-container{
  .card-text{
    font-size: 17px;
  }
  .card-body{
    padding: 1rem 2rem;
  }
}

#navbarResponsive {
  flex-direction: row-reverse;
}

.overlap-0 {
  margin-top: -40px;
  margin-left: -50px;
  margin-right: -100px;
  z-index: 5;
}

.overlap-1 {
  margin-left: -100px;
}

.overlap-2 {
  margin-right: -100px;
  margin-top: 120px;
}

.overlap-3 {
  margin-left: -100px;
  margin-top: -10px;
  margin-right: 75px;
  z-index: 6;
}

.overlap-4 {
  margin-right: -100px;
  margin-top: 80px;
  margin-left: -40px;
  z-index: 5;
}

.overlap-5 {
  margin-right: -50px;
  margin-left: -75px;
  margin-top: -40px;
}

.overlap-6 {
  margin-left: 75px;
  margin-top: -150px;
  z-index: 5;
}

.overlap-7 {
  margin-left: -50px;
  margin-top: -75px;
  z-index: 5;
}

.overlap-8 {
  margin-left: 20px;
  margin-right: -10px;
  margin-top: -10px;
  z-index: 5;
}

.overlap-9 {
  margin-top: -120px;
  margin-right: -80px;
  z-index: 5;
}

.overlap-10 {
  margin-left: -100px;
  margin-top: -10px;
  margin-right: 75px;
  z-index: 6;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  border: 3px solid black;
  margin:5px;
  
}
.chrome{
  position:absolute;
  top:8px;
  left:8px;
}

.card-body{
  li {
    margin:7px 0px;
  }
  padding: 1rem 3rem;
}

@media only screen and (min-width: 992px) {
  .page-body {
    margin: 60px 0 120px 0;
    a {
      text-decoration: underline;
    }
    li{
      margin: 20px 0;
    }
    .card-title{
      font-size: 16px;
    }
  }
}

/*@media (max-width: 991.98px) {*/

/* services section css
.servicesText.card {
  cursor: pointer;
}
.servicesIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}

.card:hover .servicesIcon {
  color: #008000;
}
.servicesText:hover {
  border: 1px solid #008000;
}*/
