// Styling for the masthead
header.masthead {
  // TIP: Background images are set within the HTML using inline CSS!
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: $gray-600;
  background-attachment: scroll;
  position: relative;
  background-position: top;
  height: 750px;
  @include background-cover;
  .overlay {
    height: 100%;
    width: 100%;
    background-color: #a4a6b887;
  }
  .page-heading,
  .services-page-heading,
  .portfolio-page-heading,
  .post-heading,
  .site-heading {
    padding: 200px 0 150px;
    color: white;
    @media only screen and (min-width: 768px) {
      padding: 200px 0;
    }
  }
  .page-heading,
  .portfolio-page-heading,
  .site-heading {
    h1 {
      font-size: 50px;
      margin-top: 0;
    }
    .subheading {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.1;
      display: block;
      margin: 10px 0 0;
      @include heading-font;
    }
    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 80px;
      }
    }
  }
  .services-page-heading {
    h1 {
      font-size: 60px;
      margin-top: 0;
      color: white;
      text-align: center;
      text-shadow: 0 0 20px #0000005c;}
    }

  .portfolio-page-heading {
    h1 {
      font-size: 80px;
      margin-top: 80px;
      color: white;
      text-align: left;}
    h2 {
        color: white;
        font-size: 24px;
        font-weight: 300;
        line-height: 1.1;
        margin: 10px 0 0;
        @include heading-font;
      }
    }

  .post-heading {
    h1 {
      font-size: 35px;
    }
    .meta,
    .subheading {
      line-height: 1.1;
      display: block;
    }
    .subheading {
      font-size: 24px;
      font-weight: 600;
      margin: 10px 0 30px;
      @include heading-font;
    }
    .meta {
      font-size: 20px;
      font-weight: 300;
      font-style: italic;
      @include body-font;
      a {
        color: $white;
      }
    }
    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 55px;
      }
      .subheading {
        font-size: 30px;
      }
    }
  }
}
